html {
  min-height: 100dvh;
  background-image: url(./assets/images/fond.jpg);
  background-size: cover;
}

main {
  position: absolute;
  border-radius: 30px 50px;
  border-style: solid;
  border-color: rgb(252, 252, 252);
  padding: 1vh;
  margin: 15%;
  background: #453f3f;
  background: linear-gradient(
    262deg,
    rgba(69, 63, 63, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  max-width: 800px;
  max-height: fit-content;
  left: 40vh;
}

.photo-mange {
  position: absolute;
  border-radius: 30px;
  padding: 20vh;
  margin: 30%;
  border-style: solid;
  border-color: #453f3f;
  left: 80vh;
  top: -40vh;
  background-image: url(./assets/images/oguri-cap-cuillère.jpg);
  background-size: cover;
  z-index: 1;
}

.descrpition:hover {
  font-family: "Orbitron", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.section {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.prix {
  color: rgb(95, 144, 208);
  float: right;
}

.oguri {
  position: absolute;
  border-radius: 30px;
  padding: 10vh;
  margin: 30%;
  border-style: solid;
  border-color: #453f3f;
  left: 90vh;
  top: 70vh;
  background-image: url(./assets/images/oguri-cap-mange-chibi.gif);
  background-size: cover;
  z-index: 1;
}

hr {
  border-radius: 20%;
  border-color: #00ffff;
  border-style: solid;
}

/** PALETTE DE COULEURS 
#00ffff
rgba(69, 63, 63, 1)
rgba(255, 255, 255, 1)
rgb(95, 144, 208) */
